{% extends 'basic_connection.html' %}

{% block title %}Редактирование профиля{% endblock title %}

{% block content %}
<!-- Основное содержимое страницы авторизации -->
<div class="container pt-3">
    <div class="modal d-block" style="position: static;">
        <div class="modal-dialog">
            <div class="modal-content" style="opacity: 0.9; background-color: rgba(255, 255, 255, 0.55);">
                <h3 class="p-3 pb-0">Смена пароля</h3>
                <hr>
                <div class="p-3 pt-0">
                    <form action="{% url 'change_password_view' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3 ms-2 m-2">
                            <input type="{{ form.old_password.field.widget.input_type }}" class="form-control" id="floatingInput" name="{{ form.old_password.name }}">
                            <label for="floatingInput">Введите старый пароль</label>
                        </div>
                        {% if form.old_password.errors %}
                            <div class="alert alert-danger mx-2" style="list-style-type: none;">
                                {{ form.old_password.errors }}
                            </div>
                        {% endif %}
                        <div class="form-floating mb-3 ms-2 m-2">
                            <input type="{{ form.new_password1.field.widget.input_type }}" class="form-control" id="floatingInput" name="{{ form.new_password1.name }}">
                            <label for="floatingInput">Введите новый пароль</label>
                        </div>
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger mx-2" style="list-style-type: none;">
                                {{ form.new_password1.errors }}
                            </div>
                        {% endif %}
                        <div class="form-floating mb-3 ms-2 m-2">
                            <input type="{{ form.new_password2.field.widget.input_type }}" class="form-control" id="floatingInput" name="{{ form.new_password2.name }}">
                            <label for="floatingInput">Повторите новый пароль</label>
                        </div>
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger mx-2" style="list-style-type: none;">
                                {{ form.new_password2.errors }}
                            </div>
                        {% endif %}
                        <div class="form-floating mb-3 mx-2 d-flex justify-content-between">
                            <a href="{% url 'edit_profile_view' %}" class="btn btn-outline-success">Назад</a>
                            <button class="btn btn-success px-4">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}